/* header */
.navwraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 45px;
    margin-bottom: 100px;
}
.navigation { display: flex;
align-items: center;}
.nav-ul {display: flex;
 }
.nav-li {
    margin-right: 50px;
    color: #3D37F1;
    font-size: 18px;
    font-weight: bold;
}
.burger {
    display: none;
}

/* section 1 */
.section1 {
    max-width: 1300px;
    width: 100%;
    height: 300px;
    margin: auto;
    display: flex;
    margin-bottom: 300px;
}

.leftblock {
    max-width: 650px;
    width: 100%;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
}

.lefttitle {
    max-width: 400px;
    width: 100%;
    font-size: 55px;
    font-weight: bold;
    color: #534D4D;
    margin-bottom: 20px;
}

.leftp {
    font-size: 16px;
    color: #534D4D;
    margin-bottom: 85px;
}

.bluebuttom {
    width: 170px;
    height: 70px;
    background-color: #3D37F1;
    display: flex;
    border-radius: 37px;
    align-items: center;
    justify-content: space-evenly;
}
.waveme {
color: white;
}


.rightblock {
    max-width: 650px;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.rightblockimage {
    max-width: 600px;
    width: 100%;
    height: 395px;
    
}

/* section 2 */

.section2 {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.textblock {
    max-width: 600px;
    width: 100%;
    background-color: white;
    text-align: center;
    margin: auto;
    margin-bottom: 57px;
}

.bottomtitle {
    font-size: 18px;
    color: #3D37F1;
    font-weight: bold;
    margin-bottom: 14px;
}

.bottomtitle2 {
    font-size: 36px;
    color: #5A5454;
    margin-bottom: 20px;
}

.bottomp
{
    font-size: 18px;
    color: #747474;
}

/*colorful block section2*/

.blockwraper {
    max-width: 1300px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
}

.block {
    width: 350px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.block img {
    width: 90px;
    height: 99px;
}

.blocktitle {
    font-size: 22px;
    color: #ffff;
    margin-top: 47px;
}
.blocktext {
    width: 285px;
    font-size: 16px;
    color: #ffff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.whitebuttom {
    max-width: 120px;
    width: 100%;
    height: 45px;
    border: 2px solid white;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whitebuttom :hover {
    background-color: white;
}

.readmore {
    color: #ffffff;
    font-weight: bold;
}
.readmore :hover {
    color: black;
}


.block:first-child  {
    background-color: #fbba77;
    margin-bottom: 60px;
    background-image: linear-gradient(#fbba77, #dfa871);
}

.block:nth-child(2) {
    background-color: #41eae3;
    margin-bottom: 60px;
    background-image: linear-gradient(#41EAE3, #2293B7);
}
.block:nth-child(3) {
    background-color: #69529f;
    margin-bottom: 60px;
    background-image: linear-gradient(#69529f,#463864);
}
.block:nth-child(4) {
    background-color: #4386d2;
    background-image: linear-gradient(#4386d2, #0962c5);
}
.block:nth-child(5) {
    background-color: #a5a2f6;
    background-image: linear-gradient(#a5a2f6,#564fd6);
}
.block:last-child {
    background-color: #ff8088;
    background-image: linear-gradient(#ff8088, #984141);
}